.login-pf body {
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ededed), color-stop(53%, #f6f6f6), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
	background: -o-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
	background: linear-gradient(to bottom, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
	color: #555;
}

#kc-logo {
	margin-bottom: 20px;
}

#kc-logo a:hover,a:focus {
	text-decoration: none;
}

#kc-logo-wrapper {
	background-image: url("../img/cyclone-logo.png");
	background-size: contain;
	height: 100px;
	width: 300px;
	margin: 5% auto 0;
	position: initial;
}

#kc-header {
	color: #444;
	text-align: center;
}

#kc-header-wrapper {
	margin-bottom: 0px;
}

#kc-content {
	color: #555;
}

label {
	color: #555;
}

.alert-error {
	color: #333333 !important;
}

.cy-btn-social {
	padding: 6px 10px;
	font-size: 1.75rem;
	line-height: 1.3333333;
	border-radius: 1px;
	width: 200px;
}

.cy-btn-social:hover,
.cy-btn-social:focus {
	color: #ffffff !important;
}

#cy-form-buttons {
	float: right;
}

#cy-login {
	width: 100%;
}

#remember-checkbox {
		float: left;
}

#kc-form-options-wrapper {
	padding-top: 10px;
}

#cy-info {
	text-align: center;
	padding-top: 2%;
}

#cy-info-title {
	text-transform: uppercase;
	padding-bottom: 1%;
}

#cy-form {
	padding-top: 5rem;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#cy-local-toggle {
	text-transform: uppercase;
	font-size: 10px;
}

#cy-local-login {
	visibility: collapse;
	margin-top: 1rem;
}

#cy-client-header {
	margin-bottom: 1.5rem;
}

#client-logo-wrapper {
	height: 30px;
}

#client-terms-wrapper {
    text-transform: uppercase;
}

@media (min-width: 768px) {
	#cy-form {
		width: 33%;
	}

	#kc-header {
		padding: 0px;
	}

	.alert {
		margin: 3rem 25% 3rem 25%;
	}
}

@media (max-width: 767px) {
	#kc-social-providers li {
		margin-right: 0;
	}
}
